/* .feed__status {
  width: 90%;
  margin: 1rem auto;
}

.feed__status form {
  display: flex;
  align-items: center;
}

.feed__status form * {
  margin: 0 0.5rem;
} */
.feed__user-data {
  width: 90%;
  margin: 1rem auto 2rem auto;
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 1rem;
}

.feed__control {
  text-align: center;
}

.new-post__preview-image {
  width: 15rem;
  height: 7rem;
}

.user-posts-header {
  font-size: 1.2rem;
  color: #464646;
  padding-bottom: 0.5rem;
  border-bottom: 0.1rem solid #464646;
  max-width: 80%;
  margin: 0 auto;
}

.feed__about-section {
  max-width: 70%;
  margin: 0 auto;
  display: flex;
  flex-direction: column;
  align-items: center;
  margin-bottom: 1rem;
  padding-bottom: 0.5rem;
}
.about__section {
  width: 90%;
  margin-bottom: 0.3rem;
}

.publisher__gmail-form {
  width: 90%;
  margin-bottom: 0.3rem;
  border: 1px solid #3b0062;
  border-radius: 0.3rem;
  margin: 0 auto;
  display: flex;
  flex-direction: column;
  align-items: center;
}

@media (min-width: 768px) {
  .feed__status {
    width: 30rem;
  }
}
@media (max-width: 768px) {
  .about-form {
    max-width: 95%;
  }
}
